<h1>This is the secret page</h1>

<p>You found me</p>

<img src="https://cdn.pixabay.com/photo/2015/05/23/00/25/utah-780108__340.jpg">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>